# 依赖
node_modules/

# 构建产物
dist/

# 打包 / 部署产物
dist-upload.zip
columbina-game/columbina-game-dist.zip

# 日志
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 编辑器 / 系统
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.sw?
